$fons: 1.3rem;
$col: #6c6c6c;
$coltit: #5094f2;


@import 'reset';
@import 'font';
@import 'menu';
@import 'mixin';

/* Как правильно объединять свойства, где именно они должны быть написаны в коде, в контейнере или до контейнера??? Есть одинаковые свойства для блока лого и для блока контент. */
.header__logo,
.content,
.aside,
.section {
    @include setFlex();
}

.conteiner {

    .header {
        @include setFlex(flex, row, space-between);
        padding: 1% 0;

        .header__logo {
            &:hover {
                transform: scale(0.9);
                transition: 1s;
                cursor: pointer;
            }

            .header__picture>img {
                padding-left: 70%;
            }

            .title__link {
                color: black;
            }
        }
    }

    .content {
        padding: 2% 0;
        font-size: 1.5rem;
        line-height: 44px;
        color: #ffffff;
        background: url(../picture/fon.png);
        background-size: 100%;

        .content__image {
            padding-right: 10%;
        }

        .content__desc {
            padding-left: 5%;

            .subject {
                font-size: 2.5rem;
            }

            .button {
                @include setFlex();
                width: 50%;
                margin: 8% 0 0 4%;
                padding-right: 1%;
                background-color: $coltit;
                &:hover {
                    transform: scale(1.3);
                    transition: 0.5s;
                }

                .icon {
                    padding: 4% 5% 1% 1%;
                }

                .button__box {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    .aside {
        padding: 5% 0;
        text-align: center;

        .aside__subtitle {
            padding-bottom: 3%;
            font-size: $fons;
            color: $coltit;
        }

        .aside__text {
            padding: 0 16%;
        }
    }

    .section {
        padding: 4% 0;
        color: $col;

        .section__block{
            margin-left: 10% ;

            .section__title {
                margin-right: 1%;
                padding-bottom: 12%;
                color: $col;
                font-size: 1.8rem;
            }
        }

        .section__info {
            width: 52%;
            padding-left: 6%;
            line-height: 36px;

            .caption {
                font-size: 1.7rem;
            }
        }
    }

    .line::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: black;
    }

    .footer {
        padding: 3% 0;
        text-align: center;
        color: $col;
    }
}