$fons: 1.3rem;
$col: #6c6c6c;
$coltit: #5094f2;


@import 'reset';
@import 'font';
@import 'menu';
@import 'mixin';

/* Как правильно объединять свойства, где именно они должны быть написаны в коде, в контейнере или до контейнера??? Есть одинаковые свойства для блока лого и для блока контент. */
.header__logo,
.content,
.aside,
.section {
    @include setFlex();
}

.conteiner {

    .header {
        @include setFlex(flex, row, space-between);
        padding: 1% 0;

        .header__logo {
            &:hover {
                transform: scale(0.9);
                transition: 0.2s;
                cursor: pointer;
            }

            .header__picture>img {
                padding-left: 70%;
            }

            .title__link {
                color: black;
            }
        }
    }

    .content {
        padding: 2% 0;
        font-size: 1.5rem;
        line-height: 44px;
        color: #ffffff;
        background: url(../picture/fon.png);
        background-size: 100%;

        .content__image {
            padding-right: 10%;
        }

        .content__desc {
            padding-left: 5%;

            .subject {
                font-size: 2.5rem;
            }

            .button {
                @include setFlex();
                width: 50%;
                margin: 8% 0 0 4%;
                padding-right: 1%;
                background-color: $coltit;
                &:hover {
                    transform: scale(1.3);
                    transition: 0.5s;
                }

                .icon {
                    padding: 4% 5% 1% 1%;
                }

                .button__box {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    .aside {
        padding: 5% 0;
        text-align: center;

        .aside__image--primary,
        .aside__image--secondary,
        .aside__image--spacial {
            width: 46%;
            margin: 0 27%;
            padding: 10% 0;
            font-size: 100px;
            color: white;
            border-radius: 102px;
            &:hover {
                background-color: rgb(67, 182, 25);
            }
        }

        .aside__image--primary {
            background-color: $coltit;
        }

        .aside__image--secondary {
            background-color: #d94748;
        }

        .aside__image--spacial {
            background-color: #ebbb11;
        }

        .aside__subtitle {
            padding: 5% 0 3%;
            font-size: $fons;
        }
        
        .aside__subtitle::after {
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            width: 0;
            transition: width 3s;
            background: rgb(255, 15, 99);
            opacity: 0;
        }

        .aside__subtitle:hover:after {
            opacity: 1;
            width: 64px;
            margin: 0 6%;
            padding: 0 5%;
            transition: width 1s, padding 1s, margin 1s;
        }

        .aside__link {
            color: $coltit;
            
        }
    
        .aside__text {
            padding: 0 16%;
        }
    }

    .section {
        padding: 4% 0;
        color: $col;

        .section__block{
            margin-left: 10% ;

            .section__title {
                margin-right: 1%;
                padding-bottom: 12%;
                color: $col;
                font-size: 1.8rem;
            }
        }

        .section__info {
            width: 52%;
            padding-left: 6%;
            line-height: 36px;

            .caption {
                font-size: 1.7rem;
            }
        }
    }

    .line::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: black;
    }

    .footer {
        padding: 3% 0;
        text-align: center;
        color: $col;
    }
}